.app-wrapper {
  max-width: var(--max-width-app);
  margin: auto;
  overflow-x: hidden;
  font-family: var(--ion-font-family);
  background-size: cover;
}

ion-card {
  box-shadow: var(--ion-box-shadow);
}

ion-button {
  --color: var(--ion-color-primary);
  --background: var(--ion-color-light);
}
